<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asutaupsi.taupsi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".infrastructure.TauPsiApplication"
        android:largeHeap="true"
        >


        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            >

        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>

        </activity>

        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.YoutubePlayerActivity"
            android:theme="@style/AlertDialogCustom"/>

        <activity android:name=".activities.EventPhotoPagerActivity"
            android:theme="@style/AlertDialogCustomAppTheme"/>

        <activity android:name=".activities.BrotherPagerActivity"
            android:theme="@style/AnotherDialogCustom"
            />

        <activity android:name=".activities.AsuMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".activities.MapsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="Enter your Key here"/>




    </application>


</manifest>

